* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

#container {
    background-color: rgb(0, 217, 255);
    max-width: 800px;
    border: 8px solid #e45b5b;
    border-radius: 20px;
    display: flex;
    justify-content: center;;
    flex-wrap: wrap;
}

.square {
    /* border: 1px solid rgb(218, 212, 212); */
    width: 16px;
    height: 16px;
}

.header {
    width: 800px;
    padding: 20px 0;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.btn-reset {
    background-color: #f60606;
    width: 100px;
    height: 30px;
    border-radius: 8px;
    border-style: none;
    color: white;
    font-size: 10px;
    font-weight: bold;
}

.btn-reset:hover {
    background-color: #b62525;
}

.title {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: #e45b5b;
}

.reload {
    width: 800px;
    margin-bottom: 10px;
}

.black-paint {
    background-color: #3f3e3e;
    width: 100px;
    height: 30px;
    border-radius: 8px;
    border-style: none;
    color: white;
    font-size: 10px;
    font-weight: bold;
}

.black-paint:hover {
    background-color: #868383;
}

.btn-colors {
    background-image: linear-gradient(red, yellow);
    width: 100px;
    height: 30px;
    border-radius: 8px;
    border-style: none;
    color: white;
    font-size: 10px;
    font-weight: bold;
}

.btn-colors:hover {
    background-image: linear-gradient(yellow, red);
} 

@media(max-width: 768px) {
    .header .container {
        flex-direction: column;
        padding-top: 20px;
        text-align: center;
    }
    .reload {
        display: block;
        text-align: center;
    }
}